.copyright {
  text-align: center;
  margin: 20px 0 40px 0;
  font-size: 18px;
  color: #fff;
  direction: rtl;
}

.copyright span {
  color: #FFF;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: underline;
}

.copyright span:hover {
  color: var(--light-green);
}

.copyright .name {
  direction: ltr
}